.page-navigation {
  position: sticky;
  top:0;
  background-color: white;
  z-index: 1;
}

.section > .title {
  @extend .has-text-centered;
  @extend .is-size-1;
  border-bottom: 1px solid $grey;
  border-top: 1px solid $grey;
  margin: 1em 0;
  padding: 1em 0;
}

.job {
  height: 100%;
  transition: all 250ms ease-in-out;
  &__header {
    @extend .has-text-grey-light;
  }

  &__company {
    float: left;
  }

  &__position {
    @extend .is-size-4;
    clear: both;
    margin-top: 1.5em;
  }

  &__date {
    font-family: Georgia, serif;
    float: right;
  }

  &__content {
    @extend .content;

    p {
      font-style: italic;
    }
  }
}

.card--skills {
  .card-header {
    @extend .has-background-grey-lighter;
  }
  .card-header-title {
    @extend .is-size-6;
    text-transform: uppercase;
  }
}
